button {
    box-sizing: border-box;
    border: none;
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
  
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
  }
input[type="file"]{
    box-sizing: border-box;
    border: none;
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
  
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
  }